.contact{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.contact-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}
.resume{
    padding-right: 8px;
}
.resume-button:hover{
    background-color: white;
    border: 2px solid black;
}

.contact-left{
    max-width: 60%;
    font-size: 20px;
    text-align: center;
}

.resume-button{
    background-color: aquamarine;
    font-size: 24px;
    padding: 18px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.resume-button a{
    text-decoration: none;
    color: black;
}
.icon-see{
    margin-top: 5px;
    padding-left: 4px;
}
@media only screen and (max-width:720px){
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left{
        max-width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .resume-button{
        font-size: 16px;
    }
    
}