.experience-card{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 80%;
}
.experience-logo{
    height: 100px;
    background-color: white;
}
.experience-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.experience-dates{
    color: gray;
}
.experience-desc{
    text-align: left;
}

@media only screen and (max-width:720px){
    .experience-card{
        width: 100%;
    }
}